@import "../breakpoints.scss";
@import "../colors.scss";
@import "../fonts.scss";

.services-header {
    margin-top: 104px;
}

.header-title {
    text-align: center;
}

.header-title--styles {
    font-family: $fontheader;
    font-size: 32px;
    color: $primary500;
    @include media(">=tablet") {
        font-size: 48px;
    }
     @include media(">=LGdesktop") {
        font-size: 142px;
    }
}

.header-summary {
    text-align: center;
    padding: 12px 32px 12px 32px;
    @include media(">=tablet") {
        padding: 12px 256px 12px 256px;
    }
    @include media(">=LGdesktop") {
        padding: 12px 656px 12px 656px;
    }
}

.header-summary--styles {
    font-family: $fontmain;
    font-size: 12px;
    color: $primary350;
    line-height: 1.4;
    @include media(">=tablet") {
        font-size: 16px;
    }
    @include media(">=LGdesktop") {
        font-size: 32px;
    }
}

.offered-services-title {
    text-align: center;
    margin-top: 32px;
    @include media(">=desktop") {
        margin-bottom: -72px;
    }
    @include media(">=LGdesktop") {
        margin-bottom: -64px;
    }
}

.offered-services-title--styles {
    font-family: $fontheader;
    font-size: 18px;
    color: $primary500;
    @include media(">=tablet") {
        font-size: 20px;
    }
    @include media(">=LGdesktop") {
        font-size: 28px;
    }
}

.programs-grid {
    margin-top: 856px;
    @include media(">=tablet") {
        margin-top: 132px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    @include media(">=desktop") {
        margin-top: 256px;
    }
    @include media(">=LGdesktop") {
        margin: 256px 656px 12px 656px;
    }
}

.program {
    margin: 0px 32px 16px 36px;
    border-top: 4px solid $primary500;
    background-color: $neutral200;
    padding: 0px 20px 20px 20px;
}

.program-title {
    margin: 12px 0px 16px 0px;
}

.program-title--styles {
    font-family: $fontheader;
    font-size: 16px;
    color: $primary500;
    @include media(">=desktop") {
        font-size: 20px;
    }
}

.program-summary--styles {
    font-family: $fontmain;
    font-size: 12px;
    color: $primary350;
     @include media(">=desktop") {
        font-size: 16px;
    }
}
.phone-number--styles {
    color: $complimentary500;
}

.programs-img-container {
    margin: 0px 12px 0px 4px;
}
.programs-img {
    width: 362px;
    margin-top: -64px;
    @include media(">=tablet") {
        width: 476px;
        margin-top: 56px;
    }
    @include media(">=desktop") {
        width: 676px;
        margin-top: -32px;
    }
}