$primary200: #F0F1FF;
$primary300: #BDC3FF;
$primary400: #4D5EFF;
$primary500: #0012B3;
$primary600: #000D80;
$primary700: #00084D;
$primary800: #00031A;

$complimentary200: #FFFCE6;
$complimentary300: #FFF280;
$complimentary400: #E6CF00;
$complimentary500: #B3A100;
$complimentary600: #807300;
$complimentary700: #4D4500;
$complimentary800: #1A1700;

$neutral200: #EEEEEE;
$neutral300: #CCCCCC;
$neutral400: #B3B3B3;
$neutral500: #808080;
$neutral600: #4D4D4D;
$neutral700: #333333;
$neutral800: #1A1A1A;