@import "./shadows.scss";
@import "./fonts.scss";
@import "./colors.scss";
@import "./breakpoints.scss";

.home-service-card-container {
    margin-top: 24px;
    background: $neutral200;
    border-radius: 12px;
}

.home-service-card-title-container {
    align-items: center;
    padding: 20px 42px 0px 42px;
    
}

.icon-container {
    border-radius: 35px;
    background-color: #B3BAFF;
    display: inline-block;
}
.home-service-icon--styles {
    color: $primary400;
    padding: 16px;
}

.home-service-card-title {
    padding-top:  8px;
}

.home-service-card-title--styles {
    font-family: $fontheader;
    font-size: 24px;
    color: $primary600;
    @include media(">=desktop") {
        font-size: 32px;
    }
}

.quote {
 text-align: center;
 padding: 12px 46px 0px 46px;
}

.quote--styles {
    font-family: $fontmain;
    font-style: italic;
    font-size: 16px;
    color: #6666FF;
    @include media(">=desktop") {
        font-size: 18px;
    }
}

.summary {
    padding: 20px 42px 0px 42px;
}

.summary--styles {
    font-family: $fontmain;
    font-size: 16px;
    color: $primary400;
    @include media(">=desktop") {
        font-size: 20px;
    }
}

.home-service-btn  {
    margin: 32px 42px 20px 42px;
    padding: 12px;
    cursor: pointer;
}

.btn1-margin {
    @include media(">=tablet") {
        margin-top: 96px;
    }
}

.btn3-margin {
    @include media(">=tablet") {
        margin-top: 42px;
    }
}

.home-service-btn--styles {
    font-family: $fontmain;
    font-size: 18px;
    background: $primary500;
    color: $primary200;
    border: none;
    border-radius: 8px;
}